<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940558121101-tqlb46qombc21fihc6dq8sbhplbgcila.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940558121101-tqlb46qombc21fihc6dq8sbhplbgcila</string>
	<key>API_KEY</key>
	<string>AIzaSyDJUtGsBYNpAkyBzApnV58CYLV6THGCJE4</string>
	<key>GCM_SENDER_ID</key>
	<string>940558121101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edilclimaApp</string>
	<key>PROJECT_ID</key>
	<string>flutteredilclima</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteredilclima.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940558121101:ios:656be3c310ab6a75088ac4</string>
	<key>DATABASE_URL</key>
	<string>https://flutteredilclima-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>